{% extends 'base.html' %}
{% block content %}
<br><h1 class="text-center my-5">{{ people.username }}'s profile</h1><br>
{% if request.user == people %}
<div class="d-flex justify-content-end my-5">
  <a class="btn btn-outline-secondary mx-1" href="{% url 'accounts:update_profile' %}" role="button">회원수정</a>
  <a class="btn btn-outline-secondary mx-1" href="{% url 'accounts:password' %}" role="button">비밀번호변경</a>
</div>

{% endif %}
<hr>
<h3 class="text-center my-3 mt-5">{{ people.username }}님이 작성한 게시글</h3>
<div class="row">
    {% for post in people.post_set.all|dictsortreversed:"pk" %}
    <div class="col-4 my-2">
        <div class="card">
          <img src="{{ post.image_set.first.file.url }}" class="card-img-top" alt="{{ post.image_set.first.file }}">
          <div class="card-body">
            <h5 class="card-title">{{ post.like_users.count }}명이 좋아합니다.</h5>
            <p class="card-text"><b>{{ post.user }} </b> {{ post.content }}</p>
            <p class="card-text">{{ post.comment_set.count }}개의 댓글</p>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<h3 class="text-center">{{ people.username }}님이 작성한 댓글</h3>
<div class="row">
    {% for comment in people.comment_set.all|dictsortreversed:"pk" %}
    <div class="col-12 my-2">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote">
              <p class="mb-0"><b>{{ comment.post.user }} </b> {{ comment.post }}</p>
              <footer class="blockquote-footer">{{ comment }}</footer>
            </blockquote>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}